<!DOCTYPE html>
<html lang="es-la">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/styles.css" />
    <link rel="icon" href="../assets/images/logo.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>WORK ZONE</title>
  </head>
  <header>
    <div id="contenedor-nav">
      <a><img src="../assets/images/logo.ico" alt="logo" id="logo"></a>
      <a href="#inicio-cont" id="inicio">
        <button class="btn-link">INICIO</button>
      </a>
      <a href="#quienes-somos"
        ><button class="btn-link">¿QUIÉNES SOMOS?</button></a
      >
      <a href="#contacto"><button class="btn-link">CONTACTO</button> </a>
    </div>
  </header>
  <body>
    
    <div class="content" id="inicio-cont">
      <h1 class="titulos" id="inicio">INICIO</h1>
      <p>
       ¡BIENVENIDO(A) A WORK ZONE!, donde podrás aplicar de manera fácil y rápida a diversas vacantes laborales que se adapten a tu perfíl profesional. Esta página te ayudará a difundir tu hoja de vida a diferentes empresas, comercios y establecimientos que estén en la búsqueda de personas como tú para que hagas parte de su equipo de trabajo.
      </p>
    </div>

    <div class="content" id="quienes-somos">
      <h1 id="titulo-quienes-somos" class="titulos">¿QUIÉNES SOMOS?</h1>
      <p id="parrafo-quienes-somos">
        Somos una corporación fundamentada en establecer una cohesión adecuada entre complementos laborales de manera bilateral con el fin de lograr una buena relación, idoneidad y profesionalismo entre funcionarios y empresas, permitiendo que ambas partes tengan un crecimiento laboral y de conocimientos que los impulsará en el ámbito empresarial, profesional y económico.
      </p>
    </div>
    <div class="content" id="contacto">
      <h1 class="titulos">CONTACTO</h1>
      <p id="parrafo-contacto">Si estás interesado en darte a conocer profesionalmente y encontrar el trabajo adecuado para tí puedes contactarnos a través de nuestro correo <strong>contactoworkzone72@gmail.com</strong>, nuestro whatsapp o puedes llenar el formulario que se encuentra en la parte inferior de esta página.
        <div id="wpp-contacto">
          <a href="https://api.whatsapp.com/send?phone=573028455818&text=WORK%20ZONE.%20%C2%A1Aplica%20aqu%C3%AD!" target="_blank">
          <button id="contactanos" class="btn-link">Whatsapp</button>
        </a></div>
      </p>
    </div>
    <div>
      <form id="formulario-work-with-us" onsubmit="retornarDatos()" >
        <h1 id="h1-formulario">ESCRIBE TUS DATOS</h1>
        <input type="text" name="nombre" id="nombre" class="elemento" placeholder="Nombre" required>
        <input type="tel" name="telefono" id="telefono" class="elemento" placeholder="Teléfono" required minlength="10">
        <input type="email" name="email" id="email" class="elemento" placeholder="Email" required minlength="10">
        <input type="text" name ="descripcion" id="descripcion" class="elemento" placeholder="Descripción" required minlength="30">
        <input type="submit" id="submit" >
      </form>
    </div>
  <script type="text/javascript" src="../assets/script/main.js"></script>
  </body>
  <footer>
    
    <p id="p-siguenos">Síguenos</p>
    <div id="contactos">
      <a
        id="facebook-logo"
        href="https://www.facebook.com/profile.php?id=100087803087416"
        target="_blank"
        ><img
          src="../assets/images/facebook.png"
          alt="facebook"
          class="logos"
      /></a>
      <a id="twitter-logo"
        href="https://twitter.com/TrabajaConNoso5"
        target="_blank"
        ><img
          src="../assets/images/twitter.png"
          alt="twitter"
          class="logos"
      /></a>
      <a id="youtube-logo" href="https://www.youtube.com/channel/UCQMrSfHYEisCJs4wXE8DHjw" target="_blank"
        ><img
          src="../assets/images/youtube.png"
          alt="youtube"
          class="logos"
      /></a>
    </div>
  </footer>
</html>
