<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/styles.css" />
    <title>Mi Página</title>
  </head>
  <header>
    <div id="contenedor-nav">
      <a href="#inicio">
        <button class="btn-link">INICIO</button>
      </a>
      <a href="#quienes_somos"
        ><button class="btn-link">¿QUIÉNES SOMOS?</button></a
      >
      <a href="#contacto"><button class="btn-link">CONTACTO</button> </a>
    </div>
  </header>
  <body>
    <div id="inicio">
      <h1>INICIO</h1>
      <p>
        INICIO Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        aliquid adipisci perspiciatis, eos dolore explicabo velit earum
        accusantium illo doloribus. Unde debitis earum et quasi itaque, ab
        laboriosam consectetur officia?
      </p>
    </div>

    <div id="quienes_somos">
      <h1>¿QUIÉNES SOMOS?</h1>
      <p>
        QUIÉNES SOMOS Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Tempore, ex cupiditate beatae veniam quas distinctio magnam consectetur
        hic ipsum fugit libero porro adipisci. Accusamus quos, sapiente est odit
        porro deleniti? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nihil omnis beatae mollitia sequi porro amet in? Sed, quia minima
        debitis voluptates nostrum incidunt perferendis fugit cumque, et
        voluptatem, blanditiis error.
      </p>
    </div>
    <div id="contacto">
      <h1>CONTACTO</h1>
      <p>
        CONTACTO Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Corporis minus harum hic aspernatur veniam et quaerat pariatur maiores
        itaque! Vero at, laudantium illo velit ea est iure quidem reprehenderit
        impedit.
      </p>
    </div>
  </body>
  <footer>
    <a
      id="facebook-logo"
      href="https://es-la.facebook.com
"
      target="_blank"
      ><img
        src="../assets/images/Facebook_logo_(square).png"
        alt="facebook"
        class="logos"
    /></a>
    <a
      href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D"
      target="_blank"
      ><img
        src="../assets/images/twitter-icon-square-logo-108D17D373-seeklogo.com.png"
        alt="twitter"
        class="logos"
    /></a>
    <a href="https://www.whatsapp.com" target="_blank"
      ><img
        src="../assets/images/whatsapp (1).png"
        alt="whatsapp"
        class="logos"
    /></a>
  </footer>
  <script src="../assets/script/app.js"></script>
</html>
